.input{
    outline: none;
    width: 100%;
    margin: 0 0 10px 0;
    padding: 5px;
    background-color: transparent;
    border: 2px solid #184142;
    border-radius: 10px;
    color: #c3cecb;;
}

.button{
    border: 2px solid #184142;
    background-color: transparent;
    padding: 5px 15px;
    font-family: 'Roboto';
    color:  #c3cecb;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.4s;
  
}

.button:hover{
    filter: brightness(120%);
}

.button:active{
    filter: brightness(80%);
}