.headerWrapp{
    display: flex;
    gap: 10px;
    margin: 0 0 20px 0;
}

.button{
    border: 2px solid #184142;
    background-color: #050c1e;;
    padding: 5px 15px;
    font-family: 'Roboto';
    color:  #c3cecb;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.4s;
    text-decoration: none;
}

.button:hover{
    filter: brightness(120%);
}

.button:active{
    filter: brightness(80%);
}