.modaleWrapp{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
}

.modaleWrapp.active{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    visibility: inherit;
    opacity: 1;
}

.modaleContent{
    padding: 20px;
    width: 300px;
    border-radius: 10px;
    background-color: #262627;
    position: relative;
    color: #fff;
}

.modaleClouse{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-weight: bold;
}